In [1]:
import os
os.chdir('???')
os.getcwd()

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: '???'

In [2]:
import math
import numpy as np
import pandas as pd

In [3]:
from scipy.stats import f_oneway
from scipy.stats import f

In [4]:
df = pd.read_csv("data/fabric.csv")
df

   polymer1  polymer2  polymer3
0      0.56      0.72      0.62
1      1.12      0.69      1.08
2      0.90      0.87      1.07
3      1.07      0.78      0.99
4      0.94      0.91      0.93

In [5]:
f_oneway(df.polymer1, df.polymer2, df.polymer3)

F_onewayResult(statistic=0.9865974924340688, pvalue=0.4011558781296862)

In [6]:
alpha = 0.01
I = 3
J = 5
dft = I-1
dfe = I*(J-1)
f.ppf(1-alpha, dft, dfe)

6.9266081401913

In [7]:
df2 = pd.read_csv("data/lab.csv")
df2

   lab1  lab2  lab3  lab4  lab5  lab6  lab7
0  4.13  3.86  4.00  3.88  4.02  4.02  4.00
1  4.07  3.85  4.02  3.88  3.95  3.86  4.02
2  4.04  4.08  4.01  3.91  4.02  3.96  4.03
3  4.07  4.11  4.01  3.95  3.89  3.97  4.04
4  4.05  4.08  4.04  3.92  3.91  4.00  4.10
5  4.04  4.01  3.99  3.97  4.01  3.82  3.81
6  4.02  4.02  4.03  3.92  3.89  3.98  3.91
7  4.06  4.04  3.97  3.90  3.89  3.99  3.96
8  4.10  3.97  3.98  3.97  3.99  4.02  4.05
9  4.04  3.95  3.98  3.90  4.00  3.93  4.06

In [8]:
f_oneway(df2.lab1, df2.lab2, df2.lab3, df2.lab4, df2.lab5, df2.lab6, df2.lab7)

F_onewayResult(statistic=5.66006914433881, pvalue=9.452826448501141e-05)

In [9]:
alpha = 0.1
I = 7
J = 10
dft = I-1
dfe = I*(J-1)
f.ppf(1-alpha, dft, dfe)

1.8698186909110068

In [10]:
alpha = 0.01
f.ppf(1-alpha, dft, dfe)

3.102766751724598

In [11]:
from statsmodels.stats.multicomp import MultiComparison

In [12]:
stacked_data = df.stack().reset_index()
stacked_data = stacked_data.rename(columns={'level_0': 'id',
                                            'level_1': 'lab',
                                            0:'result'})
stacked_data

    id       lab  result
0    0  polymer1    0.56
1    0  polymer2    0.72
2    0  polymer3    0.62
3    1  polymer1    1.12
4    1  polymer2    0.69
5    1  polymer3    1.08
6    2  polymer1    0.90
7    2  polymer2    0.87
8    2  polymer3    1.07
9    3  polymer1    1.07
10   3  polymer2    0.78
11   3  polymer3    0.99
12   4  polymer1    0.94
13   4  polymer2    0.91
14   4  polymer3    0.93

In [13]:
MultiComp = MultiComparison(stacked_data['result'],
                            stacked_data['lab'])

In [14]:
alpha=0.01
print(MultiComp.tukeyhsd(alpha).summary())

  Multiple Comparison of Means - Tukey HSD, FWER=0.01
=======================================================
 group1   group2  meandiff p-adj   lower  upper  reject
-------------------------------------------------------
polymer1 polymer2   -0.124 0.5233 -0.5201 0.2721  False
polymer1 polymer3     0.02    0.9 -0.3761 0.4161  False
polymer2 polymer3    0.144  0.425 -0.2521 0.5401  False
-------------------------------------------------------