In [1]:
import os
os.chdir('???')
os.getcwd()

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: '???'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.offline as pyo
import plotly.graph_objs as go
%matplotlib inline

In [3]:
df = pd.read_csv('thailand_population.csv')
df

   Year  Northeast   Central     North    South  Bangkok
0  2550   21385647  15409587  11871934  8654831  5716248
1  2552   21495825  15742529  11770233  8813880  5702595
2  2554   21585883  16060141  11783311  8971855  5674843
3  2556   21775407  16366870  11825955  9131425  5686252
4  2558   21916034  16753526  12072421  9290708  5696409
5  2560   21989477  17018869  12098164  9399578  5682415

In [4]:
df.set_index('Year', inplace=True)
df

      Northeast   Central     North    South  Bangkok
Year
2550   21385647  15409587  11871934  8654831  5716248
2552   21495825  15742529  11770233  8813880  5702595
2554   21585883  16060141  11783311  8971855  5674843
2556   21775407  16366870  11825955  9131425  5686252
2558   21916034  16753526  12072421  9290708  5696409
2560   21989477  17018869  12098164  9399578  5682415

## Line Graph

In [14]:
trace = go.Scatter(x=df.index,
                    y=df['Bangkok'],
                    mode='lines',
                    name='Bangkok')
data = [trace]

In [15]:
layout = go.Layout(title='2550-2560 Bangkok Population',
                   xaxis = {'title':'Year'},
                   yaxis = {'title':'Population',
                           'range': [5600000,5800000]}, 
                   hovermode='closest',
                   )

In [16]:
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

## Bar Graph

In [8]:
trace1 =go.Bar(x=df.columns,
              y=df.iloc[1],
              marker={'color':'#9ACD32'},
              name='2552')
trace2 =go.Bar(x=df.columns,
              y=df.iloc[3],
              marker={'color':'#8B008B'},
              name='2556')
trace3 =go.Bar(x=df.columns,
              y=df.iloc[5],
              marker={'color':'#D2691E'},
              name='2560')
data = [trace1,trace2,trace3]

In [9]:
layout = go.Layout(title='Thailand Population',
                   xaxis = {'title':'Region'},
                   yaxis = {'title':'Population'}, 
                   hovermode='closest')
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

## Stacked Bar

In [10]:
trace1 =go.Bar(x=df.columns,
              y=df.iloc[1],
              marker={'color':'#9ACD32'},
              name='2552')
trace2 =go.Bar(x=df.columns,
              y=df.iloc[3],
              marker={'color':'#8B008B'},
              name='2556')
trace3 =go.Bar(x=df.columns,
              y=df.iloc[5],
              marker={'color':'#D2691E'},
              name='2560')
data = [trace1,trace2,trace3]

In [11]:
layout = go.Layout(title='Thailand Population',
                   xaxis = {'title':'Region'},
                   yaxis = {'title':'Population'}, 
                   hovermode='closest',
                   barmode='stack')
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

## Pie Graph

In [21]:
trace =go.Pie(labels=df.columns,
              values=df.iloc[5],
              hoverinfo='label+percent',
              textinfo='value'
             )
data = [trace]

In [22]:
layout = go.Layout(title='Thailand Population in 2560')

fig = go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

## Radar Graph

In [19]:
trace=go.Scatterpolar(r=df.iloc[5],
                    theta=df.columns,
                    fill='toself'
                    )
data = [trace]

In [20]:
layout = go.Layout(title='Thailand Population in 2560',
                  showlegend=False,
                  polar={'radialaxis':{'visible':True}})

fig = go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'