In [2]:
import os
os.chdir('???')
os.getcwd()

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: '???'

In [3]:
import math
import numpy as np
import pandas as pd

## Multiple Linear Regression: Example 1

In [4]:
df = pd.read_csv("cars.csv")
df

         make   hp  liters     fuel  premium1
0        Ford  132     2.0  regular         0
1       Mazda  167     2.0  premium         1
2      Subaru  170     2.5  regular         0
3       Lexus  204     2.5  premium         1
4  Mitsubishi  230     3.0  regular         0
5         BMW  260     3.0  premium         1

In [16]:
import statsmodels.api as sm

X = df[['liters','premium1']]
X = sm.add_constant(X, prepend=False)
model = sm.OLS(df.hp, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     hp   R-squared:                       0.987
Model:                            OLS   Adj. R-squared:                  0.978
Method:                 Least Squares   F-statistic:                     109.7
Date:                Thu, 26 Mar 2020   Prob (F-statistic):            0.00157
Time:                        19:09:33   Log-Likelihood:                -18.111
No. Observations:                   6   AIC:                             42.22
Df Residuals:                       3   BIC:                             41.60
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
liters        95.5000      7.002     13.639      0.001      73.217     117.783
premium1      33.0000      5.717      5.772      0.010      14.806      51.194
const        -61.4167     17.966     -3.419      0.042    -118.592      -4.242
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   1.894
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.877
Skew:                          -0.580   Prob(JB):                        0.645
Kurtosis:                       1.529   Cond. No.                         18.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\Nu\Anaconda3\lib\site-packages\statsmodels\stats\stattools.py:71: ValueWarning: omni_normtest is not valid with less than 8 observations; 6 samples were given.
  "samples were given." % int(n), ValueWarning)

In [6]:
df2 = pd.read_csv("co2.csv")
df2

   xCO2  yMass
0   408    1.1
1   408    1.3
2   554    1.6
3   554    2.5
4   680    3.0
5   680    4.3
6   812    4.2
7   812    4.7

In [19]:
X = df2.xCO2
X = sm.add_constant(X, prepend=False)
Y = df2.yMass
model = sm.OLS(Y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  yMass   R-squared:                       0.882
Model:                            OLS   Adj. R-squared:                  0.863
Method:                 Least Squares   F-statistic:                     44.92
Date:                Thu, 26 Mar 2020   Prob (F-statistic):           0.000536
Time:                        19:09:54   Log-Likelihood:                -5.1814
No. Observations:                   8   AIC:                             14.36
Df Residuals:                       6   BIC:                             14.52
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
xCO2           0.0085      0.001      6.702      0.001       0.005       0.012
const         -2.3493      0.797     -2.949      0.026      -4.298      -0.400
==============================================================================
Omnibus:                        0.745   Durbin-Watson:                   3.192
Prob(Omnibus):                  0.689   Jarque-Bera (JB):                0.171
Skew:                           0.325   Prob(JB):                        0.918
Kurtosis:                       2.698   Cond. No.                     2.66e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.66e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [100]:
df3 = pd.read_csv("Second2562_Schedulel.csv")
df3

,คณะ,Faculty,Student,M_b1030,M_1030_1200,M_1200_1430,M_1430_1600,M_a1600,T_b1030,T_1030_1200,...,S_b1030,S_1030_1200,S_1200_1430,S_1430_1600,S_a1600,N_b1030,N_1030_1200,N_1200_1430,N_1430_1600,N_a1600
0,เกษตร,Agriculture,2035,367,2051,203,90,271,985,3541,...,0,721,16,0,0,0,0,0,0,0
1,บริหารธุรกิจ,Business Administrature,3090,542,580,153,0,0,682,1679,...,194,0,70,0,0,0,69,82,0,0
2,มนุษยศาสตร์,Humanities,2773,655,385,420,399,184,805,629,...,84,30,11,175,0,0,0,0,0,0
3,วนศาสตร์,Forestry,1652,286,435,400,78,0,423,437,...,0,0,0,0,0,0,0,0,0,0
4,วิทยาศาสตร์,Science,3487,1298,628,1279,344,421,1511,489,...,454,321,648,208,681,115,95,1,0,0
5,วิศวกรรมศาสตร์,Engineering,6268,1918,1844,1590,1014,633,1609,2277,...,275,131,258,0,133,97,67,0,32,12
6,ศึกษาศาสตร์,Education,1929,461,184,408,123,6,229,154,...,0,0,0,0,0,0,0,0,0,0
7,เศรษฐศาสตร์,Economics,4132,821,477,821,689,1161,644,283,...,543,0,666,0,0,20,0,118,0,0
8,สถาปัตยกรรมศาสตร์,Architecture,646,149,320,461,0,0,91,417,...,75,0,0,0,0,0,0,0,0,0
9,สังคมศาสตร์,Social Science,3577,746,201,923,749,84,902,174,...,196,0,118,11,169,13,0,0,0,0
10,สัตวแพทยศาสตร์,Veterinary Medicine,478,464,454,131,0,0,504,249,...,54,0,0,0,0,0,0,0,0,0
11,อุตสาหกรรมเกษตร,Agro-Industry,1991,551,372,283,9,38,450,388,...,1,151,29,0,0,0,0,0,0,0
12,เทคนิคการสัตวแพทย์,Veterinary Medicine,727,157,268,301,0,0,258,357,...,2,4,3,0,0,0,5,0,0,0
13,สิ่งแวดล้อม,Environment,658,0,0,0,59,0,53,0,...,0,0,0,0,0,0,0,0,0,0

In [103]:
X = df3.Student
X = sm.add_constant(X, prepend=False)
Y = df3.M_b1030
model = sm.OLS(Y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                M_b1030   R-squared:                       0.819
Model:                            OLS   Adj. R-squared:                  0.804
Method:                 Least Squares   F-statistic:                     54.47
Date:                Thu, 26 Mar 2020   Prob (F-statistic):           8.50e-06
Time:                        19:28:51   Log-Likelihood:                -94.376
No. Observations:                  14   AIC:                             192.8
Df Residuals:                      12   BIC:                             194.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Student        0.2767      0.037      7.380      0.000       0.195       0.358
const        -59.8681    107.317     -0.558      0.587    -293.691     173.955
==============================================================================
Omnibus:                        2.024   Durbin-Watson:                   1.797
Prob(Omnibus):                  0.364   Jarque-Bera (JB):                1.426
Skew:                           0.741   Prob(JB):                        0.490
Kurtosis:                       2.501   Cond. No.                     5.20e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.2e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
M_b1030
T_1200_1430
M_1430_1600
R_1430_1600
R_b1030
F_b1030