In [1]:
import os
os.chdir('???')
os.getcwd()

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: '???'

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
%matplotlib inline

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [4]:
df = pd.read_csv("cars.csv")
df.head()

         make   hp  liters     fuel  premium1
0        Ford  132     2.0  regular         0
1       Mazda  167     2.0  premium         1
2      Subaru  170     2.5  regular         0
3       Lexus  204     2.5  premium         1
4  Mitsubishi  230     3.0  regular         0

In [5]:
df.columns

Index(['make', 'hp', 'liters', 'fuel', 'premium1'], dtype='object')

In [6]:
import statsmodels.api as sm
X = df[['liters','premium1']]
X = sm.add_constant(X, prepend=False)
X.head()

   liters  premium1  const
0     2.0         0    1.0
1     2.0         1    1.0
2     2.5         0    1.0
3     2.5         1    1.0
4     3.0         0    1.0

In [7]:
y = df['hp']
y.head()

0    132
1    167
2    170
3    204
4    230
Name: hp, dtype: int64

In [10]:
# lecture example uses all data to train (test_size=0.0).
# typically, test_size is set to be 0.30

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=99)

In [11]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
lm.coef_

array([93.        , 31.83333333,  0.        ])

In [13]:
lm.intercept_

-54.00000000000006

In [14]:
predictions = lm.predict(X_train)
predictions

array([132.        , 256.83333333, 210.33333333, 163.83333333])

In [15]:
metrics.mean_squared_error(y_train,predictions)

15.041666666666622

In [16]:
metrics.r2_score(y_train,predictions)

0.9933049582255358