In [1]:
import os
os.chdir('???')
os.getcwd()

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: '???'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.offline as pyo
import plotly.graph_objs as go
import math
from scipy.stats import t
%matplotlib inline

In [3]:
df = pd.read_csv('Anova1_data_fabric.csv')
df

   Mixture  Degree of soiling  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5
0        1               0.56        1.12        0.90        1.07        0.94
1        2               0.72        0.69        0.87        0.78        0.91
2        3               0.62        1.08        1.07        0.99        0.93